*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;

}

#main{
    width: 100%;
    height: 100%;
    color: #f1f1f1;
    background-color: rgb(216, 216, 216);
    font-family: 'Gilroy';
    display: flex;
    flex-direction: column;
}

.nev{
    z-index: 1;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.349);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .5px solid black;
    box-shadow: 1px 1px 9px rgb(61, 61, 61) ;
}
a{
    text-decoration: none;
    color: #000;
    font-size: 13px;
}


.A a{
    padding: 15px;
    font-weight: 800;
    font-size: 22px;
    letter-spacing: 1px;
    
    color: rgb(209, 70, 140);

}
.A a span{
    color: rgb(34, 190, 218);
}
.A img{
    width: 80px;
    height: 30px;
    position: absolute;
    z-index: -1;
    top: -16px;
    opacity: 80%;
    left:7px ;
}
.A span img{
    position: absolute;
   width: 90px;
   height: 70px;
    transform: translate( -6%, 4%);  

}

.B a{
    padding: 0 15px;   
}
.B img{
    width: 80px;
    height: 30px;
    position: absolute;
    z-index: -1;
    top: -13px;
    opacity: 80%;
    /* left:7px ; */
}
.C a{
    padding: 10px;
    font-size: 14px;
    
    
}
.C{
    width: 150px;
    display: flex;
    justify-content: space-evenly;
 
    text-align:center;
    color: #000;
    /* background: gray; */
}
.join{
    /* border: 1px solid black; */
    border-radius: 50px;
    padding: 0 10px ;
}
.join img{
    position: absolute;
   width: 90px;
   height: 70px;
    transform: translate( -50%, -30%);  

}
.join h3{
    /* position: absolute; */
    font-size: 16px;
    font-weight: 600;
}
.effect img{
    width: 100px;
    position: absolute;
    top: -20px;
    right: 450px;
}

a:hover{
    color: rgb(122, 121, 121);
}




.center{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
  }

#Crgt{
    height: 100%;
    display: flex;
    align-items: end;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}
.card{
    margin:4px;
    height: fit-content;
    border-radius: 10px;
}
.card img{
    box-shadow: 1px 1px 10px black;
    background-position: cover;
    border-radius: 10px;
    width: 150px;
}
.text{
    width: 150px;
    height: 80px;
    position: absolute;
    left: 100px;
    bottom: 70px;
    color: #000;
}

.btn{
    width: fit-content;
    padding: 0 12px;

    /* background: rgb(196, 147, 147); */
}
.btn  img{
    position: absolute;
   width: 155px;
   height: 70px;
    transform: translate( -25%, -60%);  


}
.text h1{
    color: rgb(108, 3, 206);
    padding: 0px 0 ;
    font-size: 80px;
    font-family:  cursive;
}
/* .text h3{
    line-height: 10px;
} */

.btn:nth-child(2){
    
}